{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="static/assets/images/about-cafe.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are CBA's Cafes Site
              </h2>
            </div>
            <p>
              A site for all cafe lovers to discover new venues but also giving some review on the ones visited so others know what to expect.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

 <!-- contact section -->

  <section class="client_section layout_padding-bottom">
    <div class="container mt-4">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          Contact Us
        </h2>
                        <!-- flash message when sent -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <p class="flash">{{ message }}</p>
            {% endfor %}
          {% else %}
            <span class="subheading">Send us a message, and we will reach out to you.</span>
          {% endif %}
        {% endwith %}
      </div>
      <div class="row ">
        <div class="form_container col-lg-6 mx-auto">
            {{ render_form(form) }}
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->

{% include "footer.html" %}
