{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Add a Cafe
        </h2>
                <!-- flash message when sent -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <p class="flash">{{ message }}</p>
            {% endfor %}
          {% else %}
            <span class="subheading">Suggest a Cafe for our database.</span>
          {% endif %}
        {% endwith %}
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            {{ render_form(form) }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

{% include "footer.html" %}
