{% include "header.html" %}

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Cordoba's Cafes
        </h2>
      </div>

      <ul class="filters_menu dropdown-content">
        <li class="active" data-filter="*">All</li>
        {% for cafe in all_cafes %}
          <li data-filter=".{{ cafe.location }}">{{ cafe.location }}</li>
        {% endfor %}
      </ul>

      <div class="filters-content">
        <div class="row grid justify-content-center">
          {% for cafe in all_cafes %}
          <div class="col-sm-5 col-lg-3 all {{ cafe.location }}">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{ cafe.img_url }}" class="round-img" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    {{ cafe.name }}
                  </h5>
                  <p>
                    Location: {{ cafe.location }}<br>
                    Seats: {{ cafe.seats }}<br>
                    Coffe Price: {{ cafe.coffee_price }}<br>
                  </p>
                  <div class="options">
                    <span class="section-heading-upper">
                                        {% if cafe.has_wifi == 1 %}
                                        <i class="fa fa-fw fa-wifi" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="fa fa-fw fa-wifi" aria-hidden="true" style="color: #5C3D2E"></i>
                                        {% endif %}

                                        {% if cafe.has_sockets == 1 %}
                                        <i class="fa fa-fw fa-plug" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="fa fa-fw fa-plug" aria-hidden="true" style="color: #5C3D2E"></i>
                                        {% endif %}

                                        {% if cafe.has_toilet == 1 %}
                                        <i class="fa fa-fw fa-solid fa-droplet" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="fa fa-fw fa-solid fa-droplet" aria-hidden="true" style="color: #5C3D2E"></i>
                                        {% endif %}

                                        {% if cafe.can_take_calls == 1 %}
                                        <i class="fa fa-fw fa-phone" aria-hidden="true"></i>
                                        {% else %}
                                        <i class="fa fa-fw fa-phone" aria-hidden="true" style="color: #5C3D2E"></i>
                                        {% endif %}

                                    </span>
                    <a href="{{ cafe.map_url }}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          View More
        </a>
      </div>
    </div>
  </section>

  <!-- end food section -->

{% include "footer.html" %}
