<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="Cafe" />
  <meta name="description" content="Collection of laptop friendly cafes in the city of Cordoba, Argentina." />
  <meta name="author" content="Tomas Navarro" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.png') }}" type="image/x-icon">

  <title> Cafes </title>

  {{ bootstrap.load_css() }}
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/static/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="static/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />

</head>

<body>
  {% if request.path == "/" %}
  <div class="hero_area">
    <div class="bg-box">
      <img src="{{ url_for('static', filename='assets/images/coffee-bg.jpg') }}" alt="">
    </div>

    {% include "top_bar.html" %}

    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner pt-4">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      The site of cafe in Cordoba
                    </h1>
                    <p>
                      Be ready to discover new venues where you will not enjoy a delicious coffee, but also be able to work remotely.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Let's Go
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Laptop Friendly
                    </h1>
                    <p>
                      We specifically collect data of places which are suitable to work by providing info about its wifi, power sockets and more.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        See Places
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Take and Go
                    </h1>
                    <p>
                      There are also quality take and go coffee places for those who would rather enjoy this drink in the park or on the go.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Show Me
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>
  {% else %}

  {% include "top_bar.html" %}

  {% endif %}

