    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container fixed-top"
             style="background-image: url('{{ url_for('static', filename='assets/images/hero-bg.jpg') }}')">

          <div class="container-fluid pb-2 pt-2 pl-5 ml-5">
            <a class="navbar-brand" href="{{ url_for('home') }}">
              <span>
                CBA´s Cafes Site
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mx-auto ">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
  <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
</svg> Home
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('get_all') }}"><i class="fa fa-search" aria-hidden="true"></i> Cafes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}"><i class="fa fa-user" aria-hidden="true"></i> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('add_cafe') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i> New Cafe
                  </a>
                </li>
              </ul>
              <div class="user_option">
                <a href="{{ url_for('get_random') }}" class="order_online">
                  Random Cafe
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->